@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.login-container{
  font-family: 'Lato', sans-serif; /* Apply the Lato font */
  background-color: #274C77 ;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

img {
  margin: 20%;
}

.form-container {
  background-color: white;
  width: 40vw; /*  40% viewport width */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  position: relative;
}

.login-form {
  background-color: #274C77 ;
  width: 20vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 20px; /* Optional: Add padding for spacing */
  overflow: hidden;
}

.login-form h2 {
  text-align: center;
  color: #E7ECEF;
  margin-bottom: 25%;
  font-size: 50px;
  font-weight: bold;

}

form{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E7ECEF;
  width: 100%;
}

form label {
  width: 100%;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

form label, form input {
  width: 100%;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
  padding-left: 10px;
}

.login-button{
  margin-top: 90px;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  width: 100%; /* Set a fixed width for all buttons */
  background-color: white;
}

.password-button {
  background-color: white;
}

.password-button, .create-button {
  color: black;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  width: 100%; /* Set a fixed width for all buttons */

}

.create-button{
  background-color: #A3CEF1;
}
