@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.background {
    background-color:#F2F0EF;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding-top: 3vh;
}

.EmployeeFormContainer {
    margin-top: 40px;
    background-color: #8B8C89;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;

}

.CardsContainer {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; 
    gap: 15px; 
  }

.input {
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Raleway', serif;
    }

.AddEmployee {
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
}

.SearchContainer {
    margin-top: 50px;
}